body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(241, 216, 168);
  padding-top: 80px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  margin: 50px auto;
  padding: 10px;
}

h1 {
  font-size: 2.5rem;
  color: rgb(116, 197, 121);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton:disabled {
  background: #dddddd;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  color: black;
  height: 4vh;
  cursor: pointer;
}

.submitButton:enabled {
  background-color: rgb(44, 201, 57);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  color: black;
  height: 4vh;
  cursor: pointer;
}

.generateButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circles {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.good {
  height: 25vh;
  width: 25vw;
  background-color: #bbb;
  border-radius: 50%;
  background-color: rgb(47, 47, 194);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.checkmark {
  margin-top: 50%;
  font-size: 3em;
  color: green;
  font-weight: bold;
}

.fast {
  height: 25vh;
  width: 25vw;
  background-color: #bbb;
  border-radius: 50%;
  background-color: rgb(44, 201, 57);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.cheap {
  height: 25vh;
  width: 25vw;
  background-color: #bbb;
  border-radius: 50%;
  background-color: rgb(211, 125, 104);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.text {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  bottom: 60%;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
}

.solution {
  font-weight: bold;
  display: flex;
  text-align: center;
  color: rgb(58, 95, 60);
}

.back {
  background-color: lightgray;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  color: black;
  height: 4vh;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .Venn::after {
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    clear: both;
  }

  .circle,
  .shape {
    box-sizing: border-box;
    border: 0.1em solid rgba(0, 0, 0, 0.5);
    margin: 0 0.75%;
    padding: 0 1.5em;
    float: left;
    width: 32%;
  }

  .circle.one {
    margin-left: 0;
    background-color: rgb(47, 47, 194);
  }

  .circle.one h3 {
    margin-top: 45%;
    margin-right: 20%;
    font-size: 1.5em;
  }

  .circle.two h3 {
    margin-top: 45%;
    margin-left: 20%;
    font-size: 1.5em;
  }

  .shape {
    width: 30%;
    margin: 1em 1%;
  }

  .shape.onetwo {
    margin-left: 2.5%;
    clear: left;
    border-top-right-radius: 1em;
    height: 25vh;
    width: 25vw;
    background-color: #bbb;
    border-radius: 50%;
  }

  .shape.onetwo p {
    margin-top: 80%;
    font-weight: bold;
  }
}

@media (min-width: 1024px) {
  .circle.one h3 {
    margin-right: 25%;
    margin-top: 37%;
    font-size: 1.7em;
  }

  .circle.two h3 {
    margin-top: 36%;
    margin-left: 18%;
    font-size: 1.7em;
  }

  .shape.onetwo {
    height: 30vh;
  }

  .shape.onetwo p {
    font-size: 1.4em;
    margin-top: 70%;
  }
}

@media (min-width: 1440px) {
  .circle.one h3 {
    margin-right: 20%;
    margin-top: 33%;
    font-size: 2em;
  }

  .circle.two h3 {
    margin-top: 33%;
    margin-left: 15%;
    font-size: 2em;
  }

  .shape.onetwo {
    height: 40vh;
  }

  .shape.onetwo p {
    font-size: 1.5em;
  }
}

@media (min-width: 1700px) {
  .circle.one h3 {
    margin-right: 25%;
    margin-top: 22%;
    font-size: 2em;
  }

  .circle.two h3 {
    margin-top: 22%;
    margin-left: 15%;
    font-size: 2em;
  }

  .shape.onetwo {
    height: 55vh;
  }

  .shape.onetwo p {
    margin-top: 45%;
    font-size: 1.5em;
  }
}

@supports (shape-outside: polygon(0 0, 0 50%, 50% 50%)) {
  .Venn::after {
    display: none;
  }

  .Venn > div {
    box-sizing: border-box;
    border: 0.1em solid rgba(0, 0, 0, 0.5);
    font-size: calc(2.5vw * var(--venn-width-mult));
    line-height: 1.3;
    overflow: hidden;
  }

  .Venn > .shape {
    font-size: calc(2.25vw * var(--venn-width-mult));
    border: initial;
    width: initial;
    margin: initial;
    padding: initial;
  }

  .Venn > .circle {
    border-radius: 50%;
    width: initial;
    margin: initial;
    padding: initial;
  }

  /* Grid layout  */
  .Venn {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, calc(28.8vw * var(--venn-width-mult)));
  }

  .Venn > .circle.one {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 50px;
  }

  .Venn > .circle.two {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(211, 125, 104);
    margin-right: 50px;
  }

  .Venn > .shape.onetwo {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 25vw;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* Text wrap */
  .Venn .circle,
  .Venn .shape {
    text-align: center;
  }
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 6px;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;

  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .good {
    height: 20vh;
    width: 30vw;
    margin-right: 20px;
  }

  .fast {
    height: 20vh;
    width: 30vw;
  }

  .cheap {
    height: 20vh;
    width: 30vw;
    margin-right: 20px;
  }

  .text {
    top: 15%;
  }
  .checkmark {
    margin-top: 80%;
  }
  .solution {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .checkmark {
    margin-top: 70%;
  }
  .solution {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 1440px) {
  .good {
    height: 25vh;
    width: 25vw;
  }

  .fast {
    height: 25vh;
    width: 25vw;
  }

  .cheap {
    height: 25vh;
    width: 25vw;
  }
  .text {
    top: 20%;
  }

  .checkmark {
    margin-top: 70%;
  }
}

@media (min-width: 1700px) {
  .good {
    height: 30vh;
    width: 20vw;
    margin-right: 20px;
  }

  .fast {
    height: 30vh;
    width: 20vw;
  }

  .cheap {
    height: 30vh;
    width: 20vw;
    margin-right: 20px;
  }

  .text {
    top: 40%;
  }

  .solution {
    justify-content: center;
  }

  .checkmark {
    margin-top: 50%;
  }
}
